/* .list{
    border-bottom: 1px solid #aaa;
    position: relative;
}
.index{
    position: absolute;
    top: 0;
    left: 0;
}
.item{
    position: absolute;
    top: 0;
    right: 0;
} */
.name{
    display: flex;
    border: 1px solid #aaa;
    background-color:#0000ffa1;
    color: white;
}
.namec2{
    margin-left: 55%;
}
.list{
    display: flex;
    border-bottom: 1px solid #aaa;
}
.index{
    margin-right: 15%;
}
.item{
    width:100%;
    text-align: center;
}
